body {
      padding: 0px 0px 0px 10px;
	margin: 0;
	font-family: Tahoma, Helvetica;
	font-size: 16px;
   background-image: url("etc/bg93.gif");
}

p { 
 font-size: 14px;
 text-align: justify
}
li {
 font-size: 14px;
}
h1 { font-size: 130%; margin: 0; font-family: "Comic Sans MS","Verdana" }
h2 { font-size: 18px; margin: 0; font-family: "Comic Sans MS","Verdana" }

a.ctrl:link { color: #fd1111; text-decoration:none;font-weight:bold; }
a.ctrl:link { color: #0000aa; text-decoration:none; }
a.ctrl:visited { color: #d36400; text-decoration:none; }
a.ctrl:hover { color: red; text-decoration:none; }
a:.ctrlactive {color: #ffaa00; text-decoration:none;}

a:link { color: #fd1111 }
a:link { color: #0000aa }
a:visited { color: #d36400 }
a:hover { color: red }
a:active {color: #ffaa00}

a.tip:link      {color:#333366; text-decoration:none; border-bottom: 1px dashed #333333;}
a.tip:visited {color:#333366; text-decoration:none; border-bottom: 1px dashed #333333;}
a.tip:hover   {color:#3333cc; text-decoration:none; border-bottom: 1px dashed #333333;}
a.tip:active  {color:#333300; text-decoration:none; border-bottom: 1px dashed #333333;}

a.tip2:link      {color:#ff0000; text-decoration:none; border-bottom: 1px dashed #ff0000;}
a.tip2:visited {color:#ff0000; text-decoration:none; border-bottom: 1px dashed #ff0000;}
a.tip2:hover   {color:#3333cc; text-decoration:none; border-bottom: 1px dashed #ff0000;}
a.tip2:active  {color:#333300; text-decoration:none; border-bottom: 1px dashed #ff0000;}

DIV {
	font-family : Tahoma, Helvetica;
}

.indice {
 font-size: 12;
 font-family: arial,tahoma,times;
 color: #666666;
}

.editar {
 font-size: 12;
 font-family: arial,tahoma,times;
 color: #D77001;
}

.id {
 font-size: 11;
 font-family: arial,tahoma,times;
 color: #D77001;
 text-align:right;
}

.leyendas {
 font-size: 11;
 font-family: arial,tahoma,times;
 color: #FF0000;
 width: 570;
}

.menu {
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
margin-bottom: 10px;
}

td {
 font-size: 11;
 font-family: arial,tahoma,times;
 color: 333333;
}

.tit {
 font-size: 20;
 font-family: times,tahoma,times;
 color: blue;
 width:570;
 text-align: center;
}
.subtit  {
 color:ffffff;
 background:#0000c0; 
 width:570;
 height:23;
 font-size: 17px;
 font-family:"tahoma,Comic Sans MS","Verdana";
 font-weight: 500;
 text-align: center
}
.subtit2 { 
 color:c2044c;
 font-size: 14px;
 font-family:"Comic Sans MS","Verdana";
 text-align: center
}
.subtit3 { 
 color:000000;
 font-size: 15px;
 font-family:"Comic Sans MS","Verdana";
 text-align: center;
 text-decoration: underline;
}

.texto1 {
 font-size: 14px;
 width:570;
 text-align: justify;
}

.texto2 {
 font-family:"Comic Sans MS","Verdana";
 font-size: 13px;
 text-align: center;
}

.nota {
 font-size: 11;
 font-family: arial,tahoma,times;
 color: 333333;
 text-align: left;
}

.nota2 {
 font-size: 16px;
 font-family: arial,tahoma,times;
 color: 333333;
 text-align: left;
}

.nota3 {
 font-size: 13px;
 font-family: arial,tahoma,times;
 color: 333333;
 text-align: right;
}

.nota4 {
 font-size: 14px;
 font-family: arial,tahoma,times;
 text-align: right;
}

.observa {font-family: arial; font-size: 13px; text-align: center; }
